body{
    background-color: rgb(255, 255, 255);
}
ul{
    margin: 0;
}
#main_menu{
    background-color: rgba(126, 170, 247, 0.64);
    position: fixed;
    z-index: 50;
    top: 0;
    width: 100%;
    margin: 0;
    list-style:none ;
    padding: 50;
    height: 65px;
    
}

#main_menu li{
    display: inline-block;
}

#main_menu li a{
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

#main_menu li a:hover{
    color: #fcfcfc;

}
.text1{
    font-size: 60px;
    color: rgb(64, 71, 155);
}
.pic1{
    background-image:url(../img/33.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 250px;  
}
.anime{
  width: 100%;
  height: 500px;
  margin-top:0px;
}
img {
  margin: 0px;
  max-width: 80%;
  max-height: 70%;
  display: block;
  position: relative;
  size: cover;
}
   
.anime a{
  display: block;
  position: absolute;
  left:20%;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-animation: slider 20s linear infinite;
  animation: slider 20s linear infinite;
}
@-webkit-keyframes slider {
  2.5% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  17.5% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  20% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@keyframes slider {
  2.5% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  17.5% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  20% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
 
.anime a:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
 
.anime a:nth-child(2) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
 
.anime a:nth-child(3) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}
 
.anime a:nth-child(4) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}
 
.anime a:nth-child(5) {
  -webkit-animation-delay: 16s;
  animation-delay: 16s;
}  
 
.anime a:hover{
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.btm{
    background-color: rgba(0, 3, 8, 0.64);
    width: 100%;
    height: 65px; 
}